<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<title>CrewMonkey</title>

	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyBvbR_Vbu7YkocHQZXAg_Dfp9OEzUXcaXY",
	    authDomain: "ale-house-admin.firebaseapp.com",
	    databaseURL: "https://ale-house-admin.firebaseio.com",
	    projectId: "ale-house-admin",
	    storageBucket: "ale-house-admin.appspot.com",
	    messagingSenderId: "570111419866"
	  };
	  firebase.initializeApp(config);
	</script>
  </head>
  <body>
  </body>
</html>