.detail
	justify-content: center
	align-items: center

button.back
	height: 100%
	margin-right: 20px
	
.wrapper
	min-width: 400px

textarea, button.send-message
	display: block
	padding: 10px
	width: 100%
	margin: 10px 0

textarea
	resize: none
	
.blocks
	padding: 20px
	background: #eeeeee
	margin-bottom: 20px

button.clock
	display: block
	height: 200px
	width: 100%
	font-size: 36px
	border: 0

	&.in
		background: greenyellow

	&.out
		background: red